<style>
    p{
        font-size: 20px;
    }
</style>

<div class="container">
<p>first part of Assignment..............................................................................</p>
<br>

<app-success-alert></app-success-alert>
<br>
<app-warning-alert></app-warning-alert>
<br><br><br>
<p>second part of assignment..............................................................................</p>
<br>
<app-databinding></app-databinding>
<br><br><br>
<p>third part of assignment................................................................................</p>
<br>
<app-directive></app-directive></div>